html, body {
font-family: "Lucida Grande", Verdana, Arial, sans-serif;
font-size: 10px;
font-weight: bold;
line-height: 1.42857;
color: #CCC;
background: black;
background-attachment: fixed;
height: 100%;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
}

* {
box-sizing: border-box;
}

td.adjacent-ok {
  background: url(ok.png) top left no-repeat;
  max-width: 16px;
  height: 16px;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
}

td.adjacent-camp {
  background: url(alert.png) top left no-repeat;
  max-width: 16px;
  height: 16px;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
}

td.adjacent-undefined {
  background: url(undefined.png) top left no-repeat;
  max-width: 16px;
  height: 16px;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
}


td.adjacent {
  padding-left: 5px;
}

table {
margin: 5px 10px;
}

.s10 {color: #2FEFEF}
.s09 {color: #48F0C0}
.s08 {color: #00EF47}
.s07 {color: #00F000}
.s06 {color: #8FEF2F}
.s05 {color: #EFEF00}
.s04 {color: #D77700}
.s03 {color: #F06000}
.s02 {color: #F04800}
.s01 {color: #D73000}
.s00, .s0 {color: #F00000}

