@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }

html, body {
font-family: "Lucida Grande", Verdana, Arial, sans-serif;
font-size: 9px;
font-weight: bold;
line-height: 1.42857;
color: #CCC;
background: url("bg.jpg") no-repeat black top center;
background-attachment: fixed;
text-shadow: 1px 1px 1px #0e0e0e;
height: 100%;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
}

* {
box-sizing: border-box;
}

#wrap {
margin: 0px auto;
max-width: 1100px;
min-width: 300px;
text-align: left;
padding-bottom: 30px;
}

#wrap2 {
position: relative;
background: rgba(255, 255, 255, 0.08) none repeat scroll 0% 0%;
padding: 7px;
}

#wrap3 {
position: relative;
display: block;
border-width: 5px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.5);
background: rgba(0, 0, 0, 0.95) none repeat scroll 0% 0%;
padding: 0px 10px 10px;
margin-bottom: 5px;
margin-top: 5px;
}

#title img {
height: 64px; 
vertical-align: middle; 
padding: 5px 0px;
}

#title h1 {
display: inline;
}

#reload {
position: absolute;
float: right;
right: 5px;
top: -36px;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: bold;
}

#reload img {
vertical-align: middle;
}

.topmenu {
    box-sizing: border-box;
    float: left;
    line-height: 20px;
    min-height: 1px;
    position: relative;
    text-align: left;
}

li.menu-item {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0px 10px;
}

li.menu-item a {
    color: #FFF;
}

a {
color: #FFF;
text-decoration: none;
}

h1 {
color: rgb(255, 255, 255);
font-size: 20px;
padding: 10px 0px;
}

h2 {
margin: 0px 0px 8px 0px;
}

table {
border-spacing: 0px;
border-collapse: collapse;
width: 100%;
}

th {
font-size: 11px;
background-color: #333;
}

th.victim {
width: 72px;
}

th.time {
width: 35%;
text-align: center;
}

td img{
width: 32px;
height: 32px;
border-radius: 3px;
-webkit-filter: drop-shadow(2px 2px 2px #111);
filter: drop-shadow(2px 2px 2px #111);
vertical-align: middle;
margin: 1px 0;
}

td.time {
text-align: center;
padding: 3px;
}

span.maxheight {
overflow: hidden;
position: relative;
display: inline-block;
max-height: 2.8em;
width: 100%;
}

span.ellipsis {
background-image: linear-gradient(90deg, transparent 0%, #000 40%);
bottom: 0;
position: absolute;
right: 0;
padding-left: 5px;
margin-left: 5px;
}

span.fill {
background: #000; 
height: 100%;
position: absolute;
width: 100%;
}

span.position {
padding: 0 5px 0 5px;
}

tr:nth-child(2n+1) span.ellipsis {
background-image: linear-gradient(90deg, transparent 10%, #181818 55%);
}
tr:nth-child(2n+1) span.fill {
background-color: #181818;
}

.redraw{
border: solid 0px transparent;
}

tr:nth-child(2n+1) {
background-color: #181818;
}

.results {
width:100%; 
padding: 10px; 
float: left;
z-index: 90;
}

.system {
margin-bottom: 20px;
display: -moz-inline-stack;
display: inline-block;
vertical-align: top;
position: relative;
z-index: 98;
-webkit-backface-visibility: hidden;
width: 100%;
}

.read-more {
bottom: 0px;
right: 0px;
position: absolute;
float: left;
}

.read-more a {
    text-transform: uppercase;
    font-weight: bold;
}


.gradient {
    width:100%;
    height:50px;
    background:url(bg-gradient.png) repeat-x;
    position:absolute;
    bottom:0;
    left:0;
    pointer-events: none;
}

@media (min-width: 800px) {
.system:nth-child(2n+1) {
float: left;
clear: left;
width: 48%;
margin-right: 25px;
}
.system:nth-child(2n) {
float: right;
clear: right;
width: 48%;
}
}

@media (max-width: 559px) {
#reload span { display: none; }
#wrap2 { padding: 0; }
#wrap3 { border-width: 0; padding: 0px 2px 10px; }
}

.creationtime, .no-results {
font-style: italic;
font-weight: normal;
}

.warning {
margin: 0px 0px 0px 20px;
font-size: 16px;
font-style: italic;
color: red;
}

.no-results {
margin: 10px 0;
font-size: 13px;
}

.jumps {
display: none;
}

#footer {
    clear: both;
    width: 100%;
    bottom: 0;
}

#p1 {
    text-align: center;
    color: #555;
    font-size: 95%;
    line-height: 1.5;
    font-style: italic;
    font-weight: normal;
    padding: 8px;
}

#p1 a {color: #555;}

.map {
    background-color: #000;
    overflow: hidden;
    width: 1024px;
    margin: 10px auto;
}

#popup {
background: black;
border: 1px solid #222;
width: 30%;
min-width: 270px;
}

#popup .system {
width: 100%;
margin: 0;
padding: 0px 2px 2px 10px;
}

.howto {
width: 100%;
padding: 10px;
z-index: 90;
}

table.howtotable {
max-width: 420px;
}

table.howtotable tr{
background: none;
min-height: 45px;
}

.howtotable td {
padding: 5px;
}

.howto {
font-size: 11px;
font-weight: normal;
}

.howto p {
padding: 5px;
}

.howtotable img {
height: 128px;
width: auto;
}

.supporters {
font-size: 11px;
font-weight: normal;
}

.supporters th, .supporters td  {
padding: 4px;
}

.mapinfo {
margin: 0px 10px 5px;
font-size: 11px;
font-style: italic;
float: right;
}
